*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.navbar-brand {
    position: relative;
}

#logo {
    width: 80px;
}



#moviestar-title {
    color: #FFF;
    position: absolute;
    bottom: -2px;
    font-size: 30px;
    left: 55px;
    font-weight: bold;

}


#main-navbar {
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#search-form {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    width: 50%;
    margin-left: 180px;
    display: flex;
}

#search-form .form-control {
    border: none;
    width: 90%;
    box-shadow: none;
}


#navbar {
    min-width: 30%;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nav-link {
    color: white;
  
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: bold;
    
}

li {
    list-style-type: none;
    margin-right: 20px;
    font-size: 20px;
    color: white;
}

.bold {
    font-weight: bold;
}

.white {
    color: white;
}



#footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 20px;
}


#social-container li, 
#footer-links-container li {
    list-style-type: none;
    padding: 0;

}


#social-container li, 
#footer-links-container li {
    display: inline-block;
    margin: 0 20px;

}


#social-container li {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    transition: .5s;
    line-height: 3; 

}

#social-container li:hover {
    background-color: #333;

}

.content-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.container-fluid {
    background-color: #121212;
    width: 100vw;

}




#main-container {
    background-color: #121212;
    color: white;
    padding: 20px;
    height: 100vh;
}

.msg-container {
    background-color: #121212;
    width: 100%;

}

.msg {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border: solid 1px #000;
    text-align: center;
}

#responsive {
    background-color: #0F513D;
    display: flex;
    justify-content: space-between;
}



.msg.error {
    color: #842029;
    background-color: #F8D7dA;
    border-color: #F5C2C7;
}

.btn-header {
    border: none;
    background-color: #121212;
}

.msg.sucess {
    color: #0F513D;
    background-color: #D1E7DD;
    border-color: #BADBCC;
}


#social-container a, 
#footer-links-container a {
    color: white;
    transition: .5s;
    text-decoration: none;


}

body {
    height: 100vh;
    width: 100vw;
}



#social-container li i {
    font-size: 25px;
}

#footer-links-container  {
    margin: 30px 0;
}

.auth-row {
    display: flex;
    justify-content: center;
    gap: 10rem;
}

#login-container h2,
#register-container h2{
    text-align: center;
    border-bottom: 2px solid #F5C518;
    padding: 10px;
    margin: 0 auto;
}

#login-container > div, form,
#register-container form {
    max-width: 400px;
    margin: 30px auto;

}

#card-btn {
    color: #000;
    background-color: #F5C518;
    border: 2px solid #F5C518;
    width: 100%;
    font-size: 1.5rem;
    margin-top: 15px;
    border-radius: 8px;
}

.new-movie-container {
    text-align: center;
}



#card-btn:hover {
    background-color: #000;
    color: #F5C518;
    border-color: #F5C518;
}

#content {
    display: flex;
    justify-content: space-between;

}

.btn:hover {
    background-color: #000;
    color:#F5C518;
    border: 2px solid #000;
}


/* profile edition */

#profile-container {
    background-color: #000;
    color: white;
    padding: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.image {
    border: 5px solid #F5C518;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.page-title:after {
    content: "";
    display: block;
    text-align: center;
    width: 300px;
    border-bottom: 3px solid #F5C518;
    margin: 0 auto;
    margin-bottom: 25px;

}


/* edição dos filmes */


.section-title {
    font-size: 24px;
    border-left: 4px solid #F5C518;
    padding-left: 12px;
    margin-top: 20px;
}

.section-description {
    color: #CCC;
    font-size: 18px;

}

.movie-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.movie-card {
    background-color: #1a1a1a;
    width: 50%;
    margin-bottom: 30px;
    margin-left: 1%;
    margin-right: 1%;
}

.movie-card .card-img-top {
    height: 100px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('img/moveis/image-black.jpg');
}

.card-title, .rating {
    color: #ccc;
}

.img {
    width: 100%;
    border-radius: 10px;
}

.container-info {
    display: flex;
    gap: 10rem;

}

.fas.fa-star {
    color: #F5C518;
}

.rating {
    color: #CCC;
}



.card-rating {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rate-btn {
    margin-bottom: 15px;
    color: #5799EF;
    background-color: #333;
    border-color: #333;
    width: 100%;
    font-weight: bold;
}

.rate-btn:hover {
    background-color: #1a7bfa;
    color: #fff;
    border-color: #333;
}





@media screen and (max-width: 850px) {
    
    .movie-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }


    .img {
        width: 100%;
        border-radius: 10px;
    }
    
    
}


